.login-form {
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    
  }
  body{
    background-color: white;
  }
  .login-form label {
    display: block;
    margin: 30px auto;
  }
  .login-form span {
    display: block;
    margin-bottom: 6px;
  }
  .login-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 90%;
    margin: auto;
  }


.login_but{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50%;
  margin: 10px auto auto auto;
  background-size: cover;
}




  