.auth-form {
  max-width: 400px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
}

.auth-form label {
  display: block;
  margin: 30px auto;
}
.auth-form span {
  display: block;
  margin-bottom: 6px;
}
.auth-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 90%;
  margin: auto;
}
